
.menus {
  height: 100%;
  overflow: auto;
  padding: 0 1.5rem;

  .header {
    position: absolute;
    background: #fff;
    z-index: 2;
    height: 2.5rem;
    left: 0;
    right: 0;
    padding: 1.5rem;
    font-size: 1.8rem;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  }

  .menu-list {
    margin-top: 6rem;

    > a {
      display: block;
      padding: 16px;
      height: 3rem;
      line-height: 3rem;
      color: #fff;
      text-align: center;
      text-decoration: none;
      font-size: 18px;
      font-weight: bold;
      border-radius: 4px;
      box-shadow: 0px 10px 19px -10px rgba(0,0,0,0.6);
      margin: 1rem 0;
    }
  }
}