.xiami-container {
  height: 100vh;
  overflow: hidden;
  .header {
    position: absolute;
    height: 48px;
    background: #ffeefa;
    text-align: center;
    left: 0;
    right: 0;
  }
  .main-content {
    height: 100%;
    text-align: center;
    background: #eeddaa;
  }
  .replys-container {
    background: #ed22ff;
    height: calc(100% - 48px);
    text-align: center;
    transition: transform ease-in-out;
    will-change: scroll-position;
    -webkit-overflow-scrolling: touch;
  }
}