:host {
  .todo-item {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #3db98b;
    color: #333;
  }
  
  .delete-icon {
    width: 20px;
    font-size: 18px;
    cursor: pointer;
  }

  a {
    color: inherit;

    &:hover {
      color: #3db98b;
    }
  }
}